html , * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ---------- Header ---------- */

.cabecera {
    background-image: url("../Images/header.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

div.raices {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
    align-items: center;
}

.bienes {
    display: flex;
}

div.link {
    display: flex;
    margin-top: 3%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}

.link a{
    color: white;
    text-decoration: none;
    margin: 7% 7%;
    align-items: center;
    justify-content: center;
}

.textoHead {
    color: white;
    margin-top: 38%;
    margin-left: 12%;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Seccion Nosotros ---------- */

.nosotros {
    margin-top: 4vh;
    text-align: center;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tarjetas {
    display: flex;
    padding: 2vh 2vw;
    margin-left: 5vh;
    margin-right: 5vh;
}

.seguridad , .precio , .tiempo {
    padding: 2vh 2vw;
    text-align: center;
}

.precio img , .seguridad img , .tiempo img {
    margin-bottom: 4vh;
}

.precio h1 , .seguridad h1 , .tiempo h1 {
    margin-bottom: 4vh;
}

div.seguridad {
    margin: 4px;
}

.tarjetas p {
    text-align: center;
}

/* ---------- Seccion Venta ---------- */

.casas {
    margin-bottom: 2%;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.propiedades {
    display: flex;
    padding: 1% 2%;
    margin: 0 1%;
    align-items: center;
    justify-content: center;
}

.cardUno , .cardDos , .cardTres {
    border: 1px;
    border-color: grey;
    border-style: solid;
    margin: 1% 1%;
}

.propiedadUno {
    background-image: url("../Images/anuncio1.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.propiedadDos {
    background-image: url("../Images/anuncio2.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.propiedadTres {
    background-image: url("../Images/anuncio3.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.textoUno , .textoDos , .textoTres {
    padding: 2% 2%;
}

.textoUno h3 , .textoDos h3 , .textoTres h3 {
    color: rgb(115,178,32);
}

.textoUno h1 , .textoDos h1 , .textoTres h1 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

div.iconosUno , div.iconosDos , div.iconosTres {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconosUno img , .iconosDos img , .iconosTres img {
    margin: 3%;
    align-items: center;
}

.iconosUno img span , .iconosDos img span , .iconosTres img span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}

div.botonUno , div.botonDos , div.botonTres {
    display: flex;
    margin: 2% 1%;
    justify-content: center;
}

.botonUno button , .botonDos button , .botonTres button {
    background-color: rgb(223, 135, 22);
    width: 220px;
    height: 35px;
    margin: 0;
    border: 0;
    color: white;
}

.botonVenta {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 4%;
}

.botonVenta a button {
    background-color: rgb(115,178,32);
    border: 0;
    color: white;
    height: 30px;
    width: 100px;
    margin-top: 5%;
    margin-bottom: 8%;
}

/* ---------- Seccion Contactanos ---------- */

.contactanos {
    background-image: url("../Images/encuentra.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}

.encuentra {
    color: white;
    margin-left: 16%;
    padding-top: 5%;
}

.encuentra p {
    color: white;
    margin-top: 3%;
}

.botonContacto button {
    background-color: rgb(223, 135, 22);
    width: 140px;
    height: 40px;
    margin: 0;
    border: 0;
    color: white;
    margin-left: 16%;
    margin-top: 3%;
}

/* ---------- Seccion Blog ---------- */

.blogUno {
    background-image: url("../Images/blog1.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    width: 30vh;
    grid-column: 1/2;
}

.blogDos {
    background-image: url("../Images/blog2.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:contain;
    height: 30vh;
    width: 30vh;
    grid-column: 1/2;
}

.seccionBlog {
    display: flex;
    margin-top: 3%;
}

p.blog {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 40%;
    font-size: 2rem;
    font-family: sans-serif;
}

.textoTestimonial {
    display: flex;
    border: 0;
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(113, 177, 31);
    padding: 8% 5%;
    color: white;
}

.textoTestimonial img {
    height: 8vh;
}

.textoTestimonial div {
    display: flex;
    margin: 10% 0;
}

div.textoTestimonial p {
    margin: 10% 0;
}

.textoTestimonial p {
    font-size: 1.5rem;
    margin: 1%;
    padding: 1% 1%;
    text-align:initial;
}

.textoTestimonial span {
    font-size: 1.5rem;
    margin-top: 3%;
    margin-left: 25%;
    padding: 1% 1%;
}

.cuadroUno , .cuadroDos {
    display: grid;
    grid-column: 1fr 1fr;
}

div.cuadroUno , div.cuadroDos {
    margin-left: 8vw;
}

div.testimonial {
    margin-right: 8vw;
}

.textoBlogUno , .textoBlogDos {
    grid-column: 2/3;
    display: flex;
    justify-content: left;
    margin-left: 0;
    margin-top: 2vh;
    padding: 2%;
    width: 40vw;
}

.testimonial {
    text-align: center;
    align-items: center;
    margin: 0 0 6vh 2vw;
    padding: 0;
    margin-right: 2vw;
}

p.testimoniales {
    margin: 0 0 3vh 0;
    padding: 0;
    font-size: 2rem;
    font-family: sans-serif;
}

hr {
    width: 11vw;
    background-color: rgb(113, 177, 31);
    height: 6px;
    margin-top: 1vh;
}

.admin span {
    color: rgb(223, 135, 22);
}

/* ---------- Footer ---------- */

footer {
    background-color: rgb(50, 50, 50);
}

.piePagina {
    display: flex;
    justify-content: left;
    color: white;
    margin-left: 5vw;
}

.piePagina h4 {
    margin: 2%;
}

.derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    text-align: center;
    width: 50%;
}

.pie {
    margin: 0;
    padding: 1%;
}

a {
    color: white;
    text-decoration: none;
}

/* ---------- Nosotros ---------- */

header.sobreNosotros {
    display: flex;
    background-color: rgb(50, 50, 50);
    align-items: center;
    justify-content: center;
}

.sobre {
    display: flex;
    color: white;
    margin: 10px;
}

.linkNosotros {
    display: flex;   
    justify-content: center;
    align-items: center;
}

.linkNosotros a {
    margin: 10px;
}

.bienesNosotros {
    display: flex;
    justify-content: left;
    margin-right: 35vw;
}

.experiencia {
    display: flex;
    margin: 3vh 12vw;
}

.experiencia img {
    width: 60vw;
    height: 60vh;
}

.experienciaNosotros {
    text-align: center;
    margin: 15px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.textoExperiencia {
    display: flex;
    text-align: justify;
}

.anios {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.aniosExperiencia {
    margin: 15px;
}

/* ---------- Anuncios ---------- */

.propiedadesUno , .propiedadesDos {
    display: flex;
    padding: 1% 2%;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
}

.cardCuatro , .cardCinco , .cardSeis {
    border: 1px;
    border-color: grey;
    border-style: solid;
    margin: 1% 1%;
}

.propiedadCuatro {
    background-image: url("../Images/anuncio4.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.propiedadCinco {
    background-image: url("../Images/anuncio5.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.propiedadSeis {
    background-image: url("../Images/anuncio6.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.textoCuatro , .textoCinco , .textoSeis {
    padding: 2% 2%;
}

.textoCuatro h3 , .textoCinco h3 , .textoSeis h3 {
    color: rgb(115,178,32);
}

.textoCuatro h1 , .textoCinco h1 , .textoSeis h1 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

div.iconosCuatro , div.iconosCinco , div.iconosSeis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconosCuatro img , .iconosCinco img , .iconosSeis img {
    margin: 3%;
    align-items: center;
}

.iconosCuatro img span , .iconosCinco img span , .iconosSeis img span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}

div.botonCuatro , div.botonCinco , div.botonSeis {
    display: flex;
    margin: 2% 1%;
    justify-content: center;
}

.botonCuatro button , .botonCinco button , .botonSeis button {
    background-color: rgb(223, 135, 22);
    width: 220px;
    height: 35px;
    margin: 0;
    border: 0;
    color: white;
}

.casasDepas {
    margin-top: 2%;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Blogs ---------- */

.blogUnoCard {
    background-image: url("../Images/blog1.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    width: 30vh;
    grid-column: 1/2;
}

.blogDosCard {
    background-image: url("../Images/blog2.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:contain;
    height: 30vh;
    width: 30vh;
    grid-column: 1/2;
}

.blogTresCard {
    background-image: url("../Images/blog3.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:contain;
    height: 30vh;
    width: 30vh;
    grid-column: 1/2;
}

.blogCuatroCard {
    background-image: url("../Images/blog4.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:contain;
    height: 30vh;
    width: 30vh;
    grid-column: 1/2;
}

p.blogCards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    font-size: 2rem;
    font-family: sans-serif;
}

.cuadroUnoCard , .cuadroDosCard , .cuadroTresCard , .cuadroCuatroCard {
    display: grid;
    grid-column: 1fr 1fr;
}

div.cuadroUnoCard , div.cuadroDosCard , div.cuadroTresCard , div.cuadroCuatroCard {
    margin-left: 30vw;
    margin-right: 30vw;
}

.textoBlogUnoCard , .textoBlogDosCard , .textoBlogTresCard , .textoBlogCuatroCard {
    grid-column: 2/3;
    display: flex;
    justify-content: left;
    margin-left: 0;
    margin-top: 2vh;
    margin-right: 10vw;
    padding: 1% 6%;
    width: 40vw;
}

hr {
    width: 11vw;
    background-color: rgb(113, 177, 31);
    height: 6px;
    margin-top: 1vh;
}

.adminCard span a {
    color: rgb(223, 135, 22);
}

.adminCard span {
    color: rgb(223, 135, 22);
}

/* ---------- Contacto ---------- */

.imagenContacto {
    background-image: url("../Images/destacada3.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.tituloContacto p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh 4vw;
}

.formularioPersonal , .formularioPropiedad , .formularioContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 2vw;
}

.formularioPersonal input , .formularioPropiedad input {
    display: flex;
    align-items: center;
    width: 40vw;
}

.formularioPersonal textArea {
    display: flex;
    align-items: center;
    width: 40vw;
}

fieldset legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2vw;
}

fieldset {
    margin: 4vh 25vw;
    padding: 0;
}

::placeholder {
    background-color: rgb(225, 225, 225);
}

.botonFormulario button {
    background-color: rgb(115,178,32);
    border: 0;
    color: white;
    width: 6vw;
    height: 4vh;
    margin: 5px;
    margin-left: 0;
}

input#horaContacto , input#fechaContacto {
    display: flex;
    width: 40vw;
    align-items: center;
}

.formularioContacto input {
    display: flex;
}

input {
    background-color: rgb(225, 225, 225);
    padding: 0;
    border: 0;
    height: 4vh;;
}

textarea {
    background-color: rgb(225, 225, 225);
    border: 0;
}

.formularioPersonal div , .formularioPropiedad div , .formularioContacto div {
    margin: 2vh 0;
}

/* ---------- Pagina Construccion ---------- */

img .imagenConstruccion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenSeccion {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Pagina Anuncio 1 ---------- */

.propiedadAnuncioUno {
    background-image: url("../Images/anuncio1.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.imagenesAnuncio img span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.anuncio h3 {
    display: flex;
    align-items: center;
    color: rgb(115,178,32);
}

.cardAnuncio h1 {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

div .imagenesAnuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.anuncioUno , .anuncioDos , .anuncioTres {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 2vw;
}

.anuncio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh;
    margin: 0 10vw;
}

.textoAnuncio {
    margin: 5vh 10vw;
}

/* ---------- Pagina Anuncio 2 ---------- */

.propiedadAnuncioDos {
    background-image: url("../Images/anuncio2.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Anuncio 3 ---------- */

.propiedadAnuncioTres {
    background-image: url("../Images/anuncio3.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Anuncio 4 ---------- */

.propiedadAnuncioCuatro {
    background-image: url("../Images/anuncio4.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Anuncio 5 ---------- */

.propiedadAnuncioCinco {
    background-image: url("../Images/anuncio5.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Anuncio 6 ---------- */

.propiedadAnuncioSeis {
    background-image: url("../Images/anuncio6.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Entrada ---------- */

.entrada span {
    color: rgb(223, 135, 22);
}

.entrada {
    margin: 4vh 0;
}

.textoEntrada , .entrada {
    margin: 0 20vw;
    margin-top: 10vh;
}

.cardEntrada h1 {
    text-align: center;
    margin: 10px;
}

/* ---------- Pagina Entrada 1 ---------- */

.propiedadEntradaUno {
    background-image: url("../Images/blog1.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Entrada 2 ---------- */

.propiedadEntradaDos {
    background-image: url("../Images/blog2.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Entrada 3 ---------- */

.propiedadEntradaTres {
    background-image: url("../Images/blog3.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Pagina Entrada 4 ---------- */

.propiedadEntradaCuatro {
    background-image: url("../Images/blog4.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

/* ---------- Media Queries ---------- */

@media screen and (min-width: 400px) {
    /* ---------- Index.html ---------- */
    body {
      background-color: lightgreen;
    }
  }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  }

  @media screen and (min-width: 1100px) {
    div.example {
      font-size: 50px;
      padding: 50px;
      border: 8px solid black;
      background: yellow;
    }
  }